 <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left d-inline">
                <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                <li ng-if="isAuthenticated"><a href="#"><i class="fa fa-envelope-o"></i>{{user.name}}</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
            </ul>
            <ul class="header-links pull-right d-inline float-right" ng-if="isAuthenticated">
                <li><a href="#" ng-click="logout($event)"><i class="fa fa-user-o"></i> Log out</a></li>
            </ul>
            <ul class="header-links pull-right d-inline float-right" ng-if="!isAuthenticated">
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="admin" ui-sref-active="'active'">Admin </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" ui-sref="login">Login </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" ui-sref="register">Register </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row" style="justify-content: space-between">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="/images/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="float-right d-flex  text-white">
                    <!--WISH LIST-->
                    <div class="mr-4">
                            <i class="far fa-heart" style="padding-top:18px;font-size:30px"></i>
                            <span class="countList small "></span>
                    </div>
                    <!--CARD-->
                    <div>

                        <i class="fas fa-cart-arrow-down " style="padding-top:18px;font-size:30px"></i>
                        <span class=" countCard small "></span>
                        <div class="d-none cardBlock"></div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>

     <nav class="navbar" id="navigation">
         <!-- container -->
         <div class="container">
             <!-- responsive-nav -->
             <div id="responsive-nav">
                 <!-- NAV -->
                 <ul class="main-nav">
                     <li><a ui-sref="/" ui-sref-active="'active'">Home</a></li>
                     <li><a ui-sref="products" ui-sref-active="'active'">Products</a></li>
                     <li><a ui-sref="my_product" ui-sref-active="'active'" ng-click="myProduct()">My Product</a></li>
                 </ul>
                 <!-- /NAV -->
             </div>
             <!-- /responsive-nav -->
         </div>
         <!-- /container -->
     </nav>